
{% extends 'index.html' %}
{% load static %}

{% block title %}
    Add Comment
{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">Add a New Comment</h2>
  <form method="post" action="" class="bg-light p-4 rounded shadow-sm">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.title.label_tag }}
      {{ form.title}}
    </div>

    <div class="mb-3">
      {{ form.comment_body.label_tag }}
      {{ form.comment_body}}
    </div>

    {{ form.user.as_hidden }}
    {{ form.related_product.as_hidden }}

    <button type="submit" class="btn btn-primary mt-3">Send Comment</button>
    <a href="{% url 'shop' %}" class="btn btn-secondary mt-3 ms-2">Back to Shop</a>
  </form>
</div>
{% endblock %}