{% extends 'shop.html' %}
{% load static %}
{% block title %}
    Your Comments
{% endblock %}

{% block content %}
    {% for comment in comments %}
    <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
{#                                    <ul class="list-unstyled">#}
{#                                        <li><i class="far fa-heart"></i></li>#}
{#                                        <li><i class="far fa-eye"></i></li>#}
{#                                        <li><i class="fas fa-cart-plus"><a href="{% url 'cart' %}"></a></i></li>#}
{#                                    </ul>#}
                                </div>
                            </div>
                            <div class="card-body">

                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li> {{ comment.title }} </li>
                                    <li class="pt-2">
                                        <p>{{ comment.comment_body }}</p>

                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
{#                                        <span>{{ rates }}</span>#}
                                        <i>{{ comment.related_product }}</i>
{#                                        <i class="text-warning fa fa-star"></i>#}
{#                                        <i class="text-warning fa fa-star"></i>#}
{#                                        <i class="text-muted fa fa-star"></i>#}
{#                                        <i class="text-muted fa fa-star"></i>#}
                                    </li>
                                </ul>
{#                                <p class="text-center mb-0">{{ product.price }}</p>#}
                            </div>
                        </div>
                    </div>
    </div>
    {% endfor %}
{% endblock %}