{% extends 'index.html' %}
{% load static %}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">#}
{#    <link rel="stylesheet" href="{% static 'css/templatemo.css ' %} ">#}
{#    <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% block title %}
    Email Login
{% endblock %}
{% block content  %}
    <form method="post" action="{% url 'email_login' %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'otp_login' %}"> Register with your phone </a>
{% endblock %}
