{% extends 'index.html' %}
{% load static %}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">#}
{#    <link rel="stylesheet" href="{% static 'css/templatemo.css ' %} ">#}
{#    <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
{% block title %}
    OTP Login
{% endblock %}
{% block content  %}
    <form method="post" action="{% url 'otp_login' %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Receive Code </button>
    </form>

{% endblock %}