{% extends 'shop.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            stores detail
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}

            <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
{#                                <img class="card-img rounded-0 img-fluid" src="{% static 'img/shop_01.jpg' %}">#}
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
{#                                        <li><a class="btn btn-success text-white" href="{% url 'stores_detail/{{ store.id }}' %}"><i class="far fa-heart"></i></a></li>#}
{#                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'stores_detail' store.id %}"><i class="far fa-eye"></i></a></li>#}
{#                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'stores_detail/{{ store.id }}' %}"><i class="fas fa-cart-plus"></i></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'stores_detail' store.id %}" class="h3 text-decoration-none">{{ store.username }}</a>
{#                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">#}

{#                                </ul>#}
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i>{{ store.address }}</i>
                                        <i><a href="{% url 'store_products' id=store.id %}"> products</a></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ store.email }}</p>
                            </div>
                        </div>
                    </div>

    {% endblock %}
</body>
</html>