{% extends 'shop.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            stores detail
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}

            <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">

                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'stores_detail' store.id %}" class="h3 text-decoration-none">{{ store.username }}</a>

                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i> Address : {{ store.address }}</i>
{#                                        <i><a href="{% url 'store_products' id=store.id %}" class="btn btn-primary color-dot-blue">products</a></i>#}
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ store.email }}</p>
                                <a href="{% url 'store_products' id=store.id %}" class="btn btn-primary color-dot-blue">products</a>

                            </div>
                        </div>
                    </div>

    {% endblock %}
</body>
</html>