
{% extends 'shop.html' %}
{% load static %}

{% block head %}
<!-- Incorporate Bootstrap CSS if not already included in your 'shop.html' -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">

                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="">
                            Categories
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">

                            <li><a class="text-decoration-none" href="{% url 'stores_list' %}?filter_store=cheapest"> Filter by cheap stores </a></li>
                            <li><a class="text-decoration-none" href="{% url 'stores_list' %}?filter_store=expensive">Filter by Expensive stores</a></li>

                        </ul>
                    </li>

                </ul>
        </div>
        {% for store in stores %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm rounded-3">
                <!-- Image overlay or static img if you have images -->
                <div class="card-img-top position-relative">
                    <!-- Uncomment if you have store images -->
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center bg-dark bg-opacity-50 rounded-top">
                        <ul class="list-unstyled d-flex gap-2">
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card-body text-center">
                    <h5 class="card-title mb-2">
                        <a href="{% url 'stores_detail' store.id %}" class="text-decoration-none text-dark">{{ store.username }}</a>
                    </h5>
                    <p class="mb-1"><i class="fas fa-map-marker-alt"></i> {{ store.address }}</p>
                    <p class="mb-0 text-muted">{{ store.email }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- Optional: Include Font Awesome for icons if not already included -->
{% block scripts %}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
{% endblock %}