{#{% extends 'about.html' %}#}
{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>#}
{#        {% block title %}#}
{#            Product Update#}
{#        {% endblock %}#}
{#    </title>#}
{#</head>#}
{#<body>#}
{#<form action="{% url 'edit_product' %}">#}
{#        {% block content %}#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit"> Edit </button>#}
{#        {% endblock %}#}
{#</form>#}
{#</body>#}
{#</html>#}