{#{% extends 'about.html' %}#}
{#{% load static %}#}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>#}
{#        {% block title %}#}
{#            Product Update#}
{#        {% endblock %}#}
{#    </title>#}
{#</head>#}
{#<body>#}
{#<form action="{% url 'edit_product' %}">#}
{#        {% block content %}#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <button type="submit"> Edit </button>#}
{#        {% endblock %}#}
{#</form>#}
{#</body>#}
{#</html>#}
{% extends 'index.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/templatemo.css ' %} ">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% block title %}
    Edit Product
{% endblock %}
{% block content  %}
    <form method="post" action="{% url 'edit_product'  %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Update </button>
    </form>

{% endblock %}